#sg-service-gallery-wrapper .sg-service-gallery-images {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 10px;
}

#sg-service-gallery-wrapper .sg-service-gallery-item img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #ddd;
}
